<!DOCTYPE html>
<html>

<head>

<title>
{% block title %}
AGIPL Digital Command Center
{% endblock %}
</title>


<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">


</head>


<body>


<div class="background-animation"></div>



<!-- SIDEBAR -->

<div class="sidebar">


<div class="brand">

<div class="logo">
AG
</div>

<h2>AGIPL</h2>

</div>



<a href="/">
🏠 Home
</a>


<a href="/modules">
📊 Modules
</a>


<a href="/reports">
📑 Reports
</a>



<hr>


<h3>Modules</h3>


<a href="/breakdown">
🛠 Breakdown
</a>


<a href="/fuel">
⛽ Fuel
</a>


<a href="/hr">
👥 HR
</a>


<a href="/purchase">
🛒 Purchase
</a>


<a href="/sales">
📈 Sales
</a>


<a href="/machinery">
⚙ Machinery
</a>


<a href="/assets">
🏢 Assets
</a>


<a href="/it">
💻 IT
</a>



</div>





<!-- MAIN AREA -->


<div class="main">



<header>


<div>
<h1>AGIPL Digital Command Center</h1>
</div>



<div class="profile">

🟢 Live System

</div>


</header>




<section class="content">


{% block content %}

{% endblock %}


</section>




<footer>

AGIPL Digital Transformation Platform

</footer>


</div>



</body>

</html>
